.mainLayoutContainer {
    flex: 1;
    background-color: pink;
    display: flex;
    padding: 48px 32px;
}

.projectsContainer {
    flex: 3;
    background-color: purple;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.projectsContainer > h2 {
    background-color: burlywood;
}

.projectsGrid {
    display: grid;
    background-color: greenyellow;
    grid-template-rows: repeat(3, 250px);
    grid-template-columns: repeat(2, 400px);
    gap: 30px;
}

.projectsGrid > .element {
    background-color: aliceblue;
    border-radius: 12px;
    border-left: solid 10px yellow;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 48px 24px;
}

.element > .options {
    align-self: flex-end;
    flex: 1;
    background-color: darkcyan;
    display: flex;
    gap: 20px;
}

.element > .description {
    flex: 4;
    background-color: brown;
    overflow: hidden;
}

.titleProject {
    font-weight: 900;
    font-size: 24px;
    background-color: green;
}

.options > img {
    object-fit: cover;
    height: 30px;
    width: 30px;
}