.mainLayoutContainer {
    flex: 1;
    background-color: pink;
    display: flex;
    padding: 48px 32px;
}

.projectsContainer {
    flex: 3;
    background-color: purple;
    display: flex;
    flex-direction: column;
}

.projectsContainer > h2 {
    background-color: burlywood;
}

.projectsGrid {
    display: grid;
    background-color: greenyellow;
    grid-template-rows: repeat(3, 250px);
    grid-template-columns: repeat(2, 400px);
    gap: 30px;
}

.projectsGrid > .element {
    background-color: aliceblue;
}

