.sidebarContainer {
    width: 300px;
    background-color: var(--bg-sidebar);
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    gap: 50px;
}

.main_section {
    display: flex;
    gap: 5px;
    width: 100%;
    align-items: center;
}
.sidebarContainer > .section {
    background-color: var(--bg-elem-sidebar);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.sidebarContainer > .section > .element:hover {
    background-color: var(--bg-card-hover);
}

.main_section > .main_img {
    width: 80px;
    height: 100%;
}

.main_section > .main_title {
    font-weight: 900;
    font-size: 30px;
}


.sectionlogo {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.section_text {
    font-size: 20px;
    font-weight: 900;
}

.section > .element {
    display: flex;
    gap: 30px;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 10px;
}

