.userProfileContainer {
    height: 100px;
    padding: 10px 48px;
    display: flex;
    background-color: var(--bg-card);
}

.userInfoContainer {
    flex: 2;
    height: 100%;
    display: flex;

}

.userWelcome {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    gap: 10px;
}

.userWelcome > .welcome-message {
    font-weight: 900;
    font-size: 15px;
}

.userWelcome > .username {
    font-size: 24px;
    font-weight: 900;
}

.userInfoContainer > .logo {
    height: 100%;
    object-fit: cover;
    border-radius: 70px;
}

.userActionsContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userActionsContainer > button {
    padding: 12px 40px;
    border-radius: 20px;
    border: none;
    background-color: var(--primary-dark);
    color: var(--text-main);
    font-size: 15px;
    font-weight: 900;
    transition: 0.2s;
}

.userActionsContainer > button:hover {
    background-color: var(--primary);
    cursor: pointer;
    transform: scale(1.05);
}