.userProfileContainer {
    height: 100px;
    background-color: green;
    padding: 10px 48px;
    display: flex;
}

.userInfoContainer {
    flex: 2;
    height: 100%;
    display: flex;
    background-color: pink;
}

.userWelcome {
    display: flex;
    flex-direction: column;
    background-color: lime;
    padding: 10px 10px;
    gap: 10px;
}

.userWelcome > .welcome-message {
    font-weight: 900;
    font-size: 15px;
}

.userWelcome > .username {
    font-size: 24px;
    font-weight: 900;
}

.userInfoContainer > .logo {
    height: 100%;
    object-fit: cover;
    border-radius: 70px;
}

.userActionsContainer {
    flex: 1;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userActionsContainer > button {
    padding: 12px 40px;
    border-radius: 20px;
    border: none;
}